body#body {
  position: relative;
}
body#body > div.Ngnb.gnb_bg_white {
  position: absolute;
}
.floating_menu {
  position: absolute;
  transform: translate(0, 100%);
}
#_post_area {
  padding-right: 0;
}
.tablet_aside._relatedCategoryPostListArea {
  display: none;
}
